doctype 5
html(lang="en", ng-app="hack-app")
    head
        title Slow down
        link(href="../style.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
    body
        #container(ng-controller="MainController")
            h1 {{i}}
            h1 {{coords}}

        script(src="http://code.jquery.com/jquery-2.0.3.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
        script(src="../bundle.js")
