header
    background-color rgba(40,40,40,1)
    position static
    top 0
    .speedContainer
        height 30px
        width 50%
        float left
        text-align center
        p
            line-height 100%
            font-size 20px
